body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
}
main {
    flex:1 0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}
.welcomeBody {
    background-image:url(https://i.imgur.com/tsHk4m4.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.welcome {
    display:flex;
    align-content:center;
}
.footer {
    display:flex;
    flex-shrink:0;
    justify-content:space-around;
    align-items:flex-end;
}
.welcomeContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}
.welcomeButtons {
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
.random {
    display:flex;
    justify-content:center;
    align-content:center;
    flex-flow:row wrap;
}
nav {
    background-color:"#608000"
}
.pageBody {
    background-image:url(https://image.freepik.com/free-photo/natural-green-blurred-bokeh-with-green-leaf-abstract-background_35652-99.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.footerSpacing {
    display:flex;
    align-items:right;
    justify-content:space-between;
    padding-top: auto 0;
    padding-bottom: auto 0;
}
.listImage{
    padding-top: 7%;
}
.footerLinks {
    color:black;
}
#welcomeBanner {
    font-size:4rem;
    padding-top:2%;
    font-family:'Krona One', sans-serif;
}
i {
    font-size:60px;
}
#topNav{
    font-size:12pt;
}
.btn {
    border:2px white;
}