/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height:500px;
    width:500px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.25rem;
}
h1 {
    font-size: 1.0rem;
    line-height: 110%;
    margin: 1.8rem 0 1.68rem 0;
}

h2 {
    font-size: 1.0rem;
    line-height: 110%;
    margin: -0.626667rem 0 1.424rem 0;
}
h3 {
    font-size: 1.0rem;
    line-height: 110%;
    margin: -0.053333rem 0 1.168rem 0;
}
.hikeName1{
  font-size: 3.0rem;
}
body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

main {
    flex:1 0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
   
}

#hikeName {
    background-color:whitesmoke;
    border-radius:1.25rem;
    padding:2rem;
    opacity: 80%;
}

#hikeDescription{
    background-color:whitesmoke;
    border-radius: 1.25rem;
    padding: 1rem;
    opacity: 80%;
    margin:2rem;
    margin-top:3rem;
}

.slideshow-container {
    background-image:url(assets);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
  .fadeIn {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  

.welcome {
    display:flex;
    align-content:center;
}

.footer {
    display:flex;
    flex-shrink:0;
    justify-content:space-around;
    align-items:flex-end;
}

.welcomeContainer {
    flex-wrap: wrap;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

.welcomeButtons {
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
}

.random {
    display:flex;
    justify-content:center;
    align-content:center;
    flex-flow:row wrap;
}

nav {
    background-color:"#608000"
}

.pageBody {
    background-image:url(https://image.freepik.com/free-photo/natural-green-blurred-bokeh-with-green-leaf-abstract-background_35652-99.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.footerSpacing {
    display:flex;
    align-items:right;
    justify-content:space-between;
    padding-top: auto 0;
    padding-bottom: auto 0;
}

.listImage{
    padding-top: 7%;
}

.footerLinks {
    color:black;
}

#welcomeBanner {
    font-size:4rem;
    padding-top:2%;
    font-family:'Krona One', sans-serif;
}

i {
    font-size:60px;
}

#topNav{
    font-size:12pt;
}

.btn {
    border:2px white;
}
<<<<<<< HEAD
#map {
    height:300px;
    width:300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#hikeInfo {
    border-radius:1.25rem;
}
=======

#hikeInfo, .card, #weather, .collection, .btn{ 
    opacity: 80%;
    border-radius: 1.25rem;
}
.card{
 display: flex;
    margin: 1rem;
}

.card-title{
    padding-left: 1rem;
}

.temp, .humidity{
    padding: 1rem;
}
>>>>>>> dev
